@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --primario: #9c27b0;
    --primario-oscuro: #89119d;
    --secundario: rgb(255, 206, 0);
    --secundario-oscuro: rgb(230, 185, 6);
    --fuente-principal: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* outline: 2px red solid; */
}


    /* GLOBALES */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-principal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}


    /* HEADER */
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}


    /* NAVEGACION */
.navegacion{
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion__enlace{
    font-family: var(--fuente-principal);
    color: #fff;
    font-size: 3rem;
}
.navegacion__enlace:hover, .navegacion__enlace--activo{
    color: var(--secundario);
}


    /* FOOTER */
.footer{
    background-color: var(--primario-oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuente-principal);
    text-align: center;
    font-size: 2.2rem;
}

    /* GRID */
.grid{
  display: grid;  
  grid-template-columns: 50% 50%;
  gap: 2rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

    /* PRODUCTOS */
.producto{
    background-color: var(--primario-oscuro);
    padding: 1rem;
    text-align: center;
}
.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre, .producto__precio{
    font-family: var(--fuente-principal);
    margin: 1rem 0;
    line-height: 1.2;
}
.producto__imagen img{
    width: 100%;
}

    /* GRAFICOS */
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
}
.grafico--camisas{
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node{
    grid-row: 8/9;    
    background-image: url(../img/grafico2.jpg);
}
@media screen and (min-width: 768px) {
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}

    /* NOSOTROS */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
    text-align: justify;
}
@media screen and (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
}
.nosotros__imagen{
    grid-row: 1/2;
}
@media screen and (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2/3;
    }
}

    /* BLOQUES */
.comprar__titulo{
    margin: 6rem 0 0;
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media screen and (min-width: 768px) {
    .bloques{
       grid-template-columns: repeat(4, 1fr);
    }    
}

.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
}


    /* PRODUCTO */
@media screen and (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .camisa__imagen{
        height: 100%;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.formulario__campo{
    border: var(--primario-oscuro) solid 1rem;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
}
.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-principal);
    padding: 2rem;
    cursor: pointer;
    transition: background-color .3s ease;
    grid-column: 1/3;
}
.formulario__submit:hover{
    background-color: var(--secundario-oscuro);
}
option{
    color: #000;
}
